@import './color.scss';
@import './mixins.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    @include flexAlign();
    
}

.container {
    width: 1172px;


}

.header {
    height: 109px;
    @include flexAlign(space-between);
   

    &__menu {
        @include flexAlign();
        
        &-logo {

        }
        .links {
            list-style-type: none;

            &__item {
                display: inline-block; //выставляет в ряд. превращает блочный элемент в строчный
                margin-left: 30px;
                a{
                    text-decoration: none;
                    @include fontStyle();

                }
            }
        }
       
    }
    &__contacts {
        @include flexAlign();

        &-item {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
            a{
                text-decoration: none;
                @include fontStyle(16px);
            }
        }
    }
    
}

.banner {
   
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 70% 0, 75% 5%, 80% 0, 100% 0, 100% 100%, 30% 100%, 25% 95%, 20% 100%, 0 100%);

    

    &__content {
        height: 730px;
        padding-top: 180px;
        box-sizing: border-box;

        .info {
            color: white;

            &__title {
                margin: 0;
                @include fontStyle(36px, 300, inherit);
            }

            &__text{
                margin: 45px 0 55px 0;
                @include fontStyle(14px, 300, inherit);
                line-height: 22px;
                letter-spacing: 1px;
            }
        }
    }
}

.title {
    @include fontStyle(36px, 900, white);
    margin: 0;
    margin-bottom: 18px;
    letter-spacing: 2px;

    &_main {
        color: $text-color-main;
    }

    &_active {
        color: $active-color;
    }
}

.divider {
    width: 105px;
    border: none;
    border-top: 2px solid $text-color-main;
    margin: 30px 0 44px 0;
}

.button { 
    width: 240px;
    height: 60px;
    border-radius: 35%;
    outline: none;
    background-color: transparent;
    border: 3px solid rgba(white, .8);
    box-sizing: border-box;
    text-transform: uppercase;
    @include fontStyle(21px, 900, white);
    cursor: pointer;
    transition: .3s;
    animation-name: buttonAnimation;
    animation-duration: 2s;
    @include flexAlign;
    
&:hover {
    background-color: rgba($text-color-main, .6);
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.6);
} 

&_learn {
    border-color: $text-color-main;
    color: $text-color-main;
}

}

.features {
    flex-direction: column;
    padding: 150px 0 150px 0;
   

    &__text {
        width: 770px;
        text-align: center;
        @include fontStyle(16px, 300, $text-color-muted);
    }

    .navigation {
        @include flexAlign();
        margin-top: 67px;
     


        &__radio {
            display: none;
        }

        &__menu{
            width: 350px;
       

        &-item { 
            width: 100%;
            height: 120px;
            @include flexAlign(space-between); 
            padding: 0 60px 0 40px;
            box-sizing: border-box;
            position: relative;

           
            .icon {
                 fill: $text-color-muted; //применяется только для svg 

                 &_active {
                     fill: $active-color;
                 }
            }
            
            .text {
                @include fontStyle(20px, 300, $text-color-muted);

                &_active {
                    color: $text-color-main;
                }
            }

        }

        }

        &__content{
            width: 100%; 
            padding-left: 150px;
            box-sizing: border-box;
            

            .feature {
                width: 100%;
                height: 600px;
                @include flexAlign($pos: column);
                display: none;
            
                &__image {
                    margin-bottom: 80px;
                    filter: grayscale(100%);
                    }
            
                &__content {
                    width: 100%;
                    

                    &-title {
                        margin: 0;
                        @include fontStyle(24px, 900);
                        margin-bottom: 38px;
                    }

                    &-text {
                        margin: 0;
                        @include fontStyle(16px, 300, $text-color-muted);
                        width: 670px;
                        line-height: 24px;
                    }

                }

            }
            

        }

    }
}

#bag:checked ~ .navigation__content > .bag {
    display: flex;
}

#heart:checked ~ .navigation__content > .heart {
    display: flex;
}

#umbr:checked ~ .navigation__content > .umbr {
    display: flex;
}

#leaf:checked ~ .navigation__content > .leaf {
    display: flex;
}

#smart:checked ~ .navigation__content > .smart {
    display: flex;
}


// обработка нажатия

// когда он в состоянии нажатия то мы связываемся с рядом стоящим navigation__menu 
#heart:checked ~ .navigation__menu > .heart   {
    
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px); //50% это половина от высоты блока. важно после и перед знаком - пробелы
        width: 11px;
        height: 80px;
        background-color: $active-color;   
    }


.text{
    @include fontStyle(20px, 500, $text-color-main)
     
}
.icon {
    fill: $active-color; 
}

}


.smart {
    background-color: $even-background;
    padding: 80px 0 80px 0;
    box-sizing: border-box;

    .container {
        @include flexAlign;

        @media screen and(max-width: 1172px) {
            width: 100%;
            padding: 0 20px;
        }
    
        @media screen and (max-width: 720px) {
            @include flexAlign($pos: column-reverse);
        }
            
    }

    &__content {
        width: 50%;

        @media screen and(max-width: 720px) {
           width: 100%;
           margin-top: 25px; 
           @include flexAlign($pos: column);
        }

        &-title {
            @include fontStyle(36px, 300);
        }

        &-text {
            @include fontStyle(16px, 300, $text-color-muted);
            padding-right: 100px;
            box-sizing: border-box;
            margin-bottom: 60px;
        }
    }

    &__image {
        width: 50%;
        @include flexAlign;
    }


}


#bag:checked ~ .navigation__menu > .bag   {
 
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px); //50% это половина от высоты блока. важно после и перед знаком - пробелы
        width: 11px;
        height: 80px;
        background-color: $active-color;   
    }

        .text{
    @include fontStyle(20px, 500, $text-color-main)
     
}
.icon {
    fill: $active-color; 
}
}

#leaf:checked ~ .navigation__menu > .leaf   {
    
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px); //50% это половина от высоты блока. важно после и перед знаком - пробелы
        width: 11px;
        height: 80px;
        background-color: $active-color;   
    }


    .text{
    @include fontStyle(20px, 500, $text-color-main)
     
}
.icon {
    fill: $active-color; 
}
}

#smart:checked ~ .navigation__menu > .smart   {
    
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px); //50% это половина от высоты блока. важно после и перед знаком - пробелы
        width: 11px;
        height: 80px;
        background-color: $active-color;   
    }


    .text{
    @include fontStyle(20px, 500, $text-color-main)
     
}
.icon {
    fill: $active-color; 
}
}

.portfolio {
    @include flexAlign($pos: column);
    padding: 100px 0;

    &__avatar{
        margin: 22px 0 50px 0;
    }

    &__quote {
        @include fontStyle(24px, 300, $text-color-muted);
        font-style: italic;
        margin-bottom: 26px;
    }

    &__name {
        @include fontStyle(24px, 300, $active-color);
        margin-bottom: 40px;
    }

    .pagination {
        @include flexAlign(space-between);
        width: 50px;
        
        &__radio {
            display: none;
        
        
            &:checked + .pagination__dot {
                background-color: $active-color;
            }
        }   

        &__dot {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $text-color-muted;
            cursor: pointer;
        }


    }


}

.newsletter {
    background-color: $text-color-muted;

    .container {
        @include flexAlign($pos:column);
        padding: 90px 0 120px 0;  
    }

    &__form {
        margin-top: 40px;

        &-text{
            @include fontStyle($fontWeight: 300);
            width: 685px;
            height: 60px;
            border: 2px solid $text-color-main;
            border-radius: 30px;
            outline: none;
            padding: 0 100px 0 30px;
            box-sizing: border-box;

            &::-webkit-input-placeholder {
                color: red;
            }
        }

        &-btn {
            background-color: $active-color;
            @include fontStyle(20px, $color: white);
            height: 64px;
            width: 170px;
            text-transform: uppercase;
            outline: none;
            border: none;
            border-radius: 32px;
            transform: translate(-90px, 2px);

        }

    }


    
}




#umbr:checked ~ .navigation__menu > .umbr   {
    
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px); //50% это половина от высоты блока. важно после и перед знаком - пробелы
        width: 11px;
        height: 80px;
        background-color: $active-color;   
    }


    .text{
    @include fontStyle(20px, 500, $text-color-main)
     
}
.icon {
    fill: $active-color; 
}
}

// конец нажатия

@keyframes buttonAnimation {
    0% {
        transform: translate(-800px, -800px);
    }

    20% {
        transform: rotate(250deg) translate(-80px,-80px);
    }

    40% {
        transform: rotate(-100deg) translate(-50px);
        
    }

    60% {
        transform: rotate(100deg) translate(20px, 20px);
    }

    80% {
        transform: rotate(200deg) translate(60px, 60px);
    }

    100% {
        transform: rotate(0) translate(0, 0);
    }
}





